<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.twentyfour.chavel">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".activity.LoginRegister.LandingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".SettingSystemActivity" />



        <!-- Login Register Zone -->
        <!-- np 95.1 -->
        <activity android:name=".activity.LoginRegister.RegisterActivity" />
        <!-- np 97.1 -->
        <activity android:name=".activity.LoginRegister.LoginActivity" />
        <activity android:name=".activity.LoginRegister.RegisterSmsOrCallActivity" />


        <activity android:name=".activity.LoginRegister.RegisterByPhoneAndEmailActivity" />
        <activity android:name=".activity.LoginRegister.CreateUserIdActivity" />

        <activity android:name=".activity.LoginRegister.SetPasswordActivity" />

        <activity android:name=".activity.LoginRegister.VerifySendActivity" />
        <activity android:name=".activity.LoginRegister.VerifySendEnterActivity" />
        <activity android:name=".activity.LoginRegister.VerifySendEnterEmailActivity" />
        <activity android:name=".activity.LoginRegister.VerifySendEnterEmailAgainActivity" />

        <activity android:name=".activity.LoginRegister.WhatsYourEmailActivity" >
        </activity>
        <activity
            android:name=".activity.LoginRegister.WhatsBirthDayActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity android:name=".activity.LoginRegister.SettingsAddPhotoActivity" >

        </activity>
        <activity android:name=".activity.LoginRegister.WhatsYourEmailOrPhoneActivity" />

        <activity android:name=".activity.LoginRegister.FindFacebookFriendsActivity" />
        <activity android:name=".activity.LoginRegister.FindContactFacebookFriendsActivity" />
        <activity android:name=".activity.LoginRegister.FindContactFriendsActivity" />
        <activity android:name=".activity.LoginRegister.FollowUserActivity" />
        <activity android:name=".activity.LoginRegister.SuggestionActivity" />

        <activity android:name=".activity.UnusedChooseCountryActivity" />

        <!-- Main Tab Zone -->

        <activity android:name=".activity.MainTab.AddPinActivity" />
        <activity android:name=".activity.MainTab.PeriodTimeActivity" />
        <activity android:name=".activity.MainTab.BudgetActivity" />
        <activity android:name=".activity.MainTab.CrossProvinceActivity" />
        <activity android:name=".activity.MainTab.SelectActivityActivity" />

        <activity android:name=".activity.MainTab.LocationActivity" />
        <activity android:name=".activity.MainTab.LocationAddActivity" />
        <activity android:name=".activity.MainTab.SelectTravelMethodActivity" />
        <activity android:name=".activity.MainTab.RouteNameActivity" />
        <activity android:name=".activity.MainTab.RouteDescriptionActivity" />
        <activity android:name=".activity.MainTab.AdvanceSearchActivity" />
        <activity android:name=".activity.MainTab.SearchMutiTypeActivity" />
        <activity android:name=".activity.MainTab.FindPeopleActivity" />
        <activity android:name=".activity.MainTab.EditProfileActivity" />
        <activity android:name=".activity.MainTab.RouteHistoryActivity" />
        <activity android:name=".activity.MainTab.OverViewPinsActivity" />
        <activity android:name=".activity.LoginRegister.ProfileActivity" />
        <activity android:name=".activity.MainTab.CommentActivity" />
        <activity
            android:name=".BaseActivity"
            android:label="@string/title_activity_base"
            android:theme="@style/AppTheme"></activity>


    </application>

</manifest>