<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.twentyfour.chavel">


    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LandingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".activity.RegisterActivity"/>
        <activity android:name=".activity.LoginActivity"/>
        <activity android:name=".activity.SingInNextActivity"/>
        <activity android:name=".activity.SetPasswordActivity"/>
        <activity android:name=".activity.CreateUserIdActivity"/>
        <activity android:name=".activity.RegisterByPhoneAndEmailActivity"/>
        <activity android:name=".activity.ChooseCountryActivity"/>
        <activity android:name=".activity.VertificationSendActivity"/>
        <activity android:name=".activity.VertificationSendEnterActivity"/>
        <activity android:name=".activity.WhatsYourEmailActivity"/>
        <activity android:name=".activity.FindFacebookFriendsActivity"/>
        <activity android:name=".activity.FindContactFacebookFriendsActivity"/>
        <activity android:name=".activity.FindContactFriendsActivity"/>
        <activity android:name=".activity.WhatsBirthDayActivity"
            android:windowSoftInputMode="adjustPan"
            />
        <activity android:name=".activity.SettingsAddPhotoActivity"/>
        <activity android:name=".activity.WhatsYourEmailOrPhoneActivity"/>
        <activity android:name=".activity.VertificationSendEnterEmailActivity"/>
        <activity android:name=".activity.VertificationSendEnterEmailAgainActivity"/>
        <activity android:name=".activity.FollowUserActivity"/>
        <activity android:name=".MainTabActivity"/>
        <activity android:name=".activity.RouteActivity"/>
        <activity android:name=".activity.SettingSystemActivity"/>
        <activity android:name=".activity.AddPinActivity"/>
        <activity android:name=".activity.PeriodTimeActivity"/>
        <activity android:name=".activity.BudetActivity"/>
        <activity android:name=".activity.CrossProvinceActivity"/>
        <activity android:name=".activity.ActivityActivity"/>
        <activity android:name=".activity.SuggestionActivity"/>
        <activity android:name=".activity.LocationActivity"/>
        <activity android:name=".activity.LocationAddActivity"/>
        <activity android:name=".activity.TravelMethodActivity"/>
        <activity android:name=".activity.RouteNameActivity"/>
        <activity android:name=".activity.RouteDescriptionActivity"/>
        <activity android:name=".activity.AdvanceSearchActivity"/>
        <activity android:name=".activity.SearchMutiTypeActivity"/>
        <activity android:name=".activity.FindPeopleActivity"/>
        <activity android:name=".activity.EditProfileActivity"/>
        <activity android:name=".activity.RouteHistoryActivity"/>
        <activity android:name=".activity.OverViewPinsActivity"/>
        <activity android:name=".activity.ProfileActivity"/>
        <activity android:name=".activity.CommentActivity"/>
    </application>

</manifest>