<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.twentyfour.chavel">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".LandingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainTabActivity"></activity>

        <!-- Login Register Zone -->
        <activity android:name=".activity.LoginRegister.RegisterActivity" />
        <activity android:name=".activity.LoginRegister.LoginActivity" />
        <activity android:name=".activity.LoginRegister.SignInNextActivity" />
        <activity android:name=".activity.LoginRegister.SetPasswordActivity" />
        <activity android:name=".activity.LoginRegister.CreateUserIdActivity" />
        <activity android:name=".activity.LoginRegister.RegisterByPhoneAndEmailActivity" />

        <activity android:name=".activity.LoginRegister.VertificationSendActivity" />
        <activity android:name=".activity.LoginRegister.VertificationSendEnterActivity" />
        <activity android:name=".activity.LoginRegister.WhatsYourEmailActivity" />
        <activity android:name=".activity.LoginRegister.FindFacebookFriendsActivity" />
        <activity android:name=".activity.LoginRegister.FindContactFacebookFriendsActivity" />
        <activity android:name=".activity.LoginRegister.FindContactFriendsActivity" />
        <activity
            android:name=".activity.LoginRegister.WhatsBirthDayActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.SettingsAddPhotoActivity" />
        <activity android:name=".activity.LoginRegister.WhatsYourEmailOrPhoneActivity" />
        <activity android:name=".activity.LoginRegister.VertificationSendEnterEmailActivity" />
        <activity android:name=".activity.LoginRegister.VertificationSendEnterEmailAgainActivity" />
        <activity android:name=".activity.LoginRegister.FollowUserActivity" />

        <activity android:name=".activity.UnusedChooseCountryActivity" />

        <!-- Main Tab Zone -->

        <activity android:name=".activity.SettingSystemActivity" />

        <activity android:name=".activity.MainTab.CrossProvinceActivity" />
        <activity android:name=".activity.MainTab.LocationAddActivity" />

        <activity android:name=".activity.MainTab.RouteHistoryActivity" />
        <activity android:name=".activity.MainTab.OverViewPinsActivity" />

      <activity android:name=".activity.MainTab.CommentActivity"/>


        <activity
            android:name=".service.BaseActivity"
            android:label="@string/title_activity_base"
            android:theme="@style/AppTheme"></activity>

        <activity android:name=".fragment.TabMyRouteFragment"/>
        <activity android:name=".fragment.SearchFragment"/>
        <activity android:name=".fragment.NewRouteTapFragment"/>
        <activity android:name=".fragment.NotiFragment"/>
        <activity android:name=".fragment.UserProfileFragment"/>

        <activity android:name=".activity.SelectOverViewPinsActivity"/>
        <activity android:name=".activity.LoginRegister.WhatTheNameActivity"/>

    </application>

</manifest>